[submodule "petsc"]
	path = petsc
	url = https://gitlab.com/petsc/petsc.git
[submodule "flann"]
	path = flann
	url = https://github.com/mariusmuja/flann.git
[submodule "pyflann"]
	path = pyflann
	url = https://github.com/primetang/pyflann.git
