[submodule "petsc"]
	path = petsc
	url = https://bitbucket.org/petsc/petsc
[submodule "flann"]
	path = flann
	url = https://github.com/mariusmuja/flann.git
[submodule "pyflann"]
	path = pyflann
	url = git@github.com:esadr/pyflann.git
